{% extends "base.html" %}

{% block content %}
<body class="profile-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/dots.png" class="dots">
            <img src="../assets/img/path4.png" class="path">
            <div class="container align-items-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="profile-title text-left">{{ name }}</h1>
                        <p class="profile-description">Приветствую тебя, великий химик! {{ name }}, здесь ты можешь облегчить себе жизнь</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}