{% extends "base.html" %}

{% block content %}
<body class="profile-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/dots.png" class="dots">
            <img src="../assets/img/path4.png" class="path">
            <div class="container align-items-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="profile-title text-left">{{ name }}</h1>
                        <h5 class="text-on-back">01</h5>
                        <p class="profile-description">Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}